body {
  background-color: #000344
}

.navbutton {
  color: white;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

#navbuttons {
  display: none;
  margin: 5px;
  position: absolute;
  top: 0;
  left: 0;
}